.tender-submit-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 0, 0.1); /* Slightly transparent yellow background */
    backdrop-filter: blur(10px);
  }
  
  .tender-submit-form {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    margin: auto;
  }
  
  .section-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .tender-form-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .input-field {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  